{% extends "base.html" %}
{%block content%}
    <style>
        .home-container{
            display: grid;
            grid-template-columns: 1fr 3fr 1fr;

        }
    </style>
     
   <div class ="home-container">
    <!-- Sidebar -->
    <div>
        {%include 'topics_components.html'%}
 </div>
    <!-- Main Content -->
 <div>
   <h5>{{room_count}} Rooms Available</h5>
    <a href = "{% url 'create-room'%}">Create New Room</a>
   {%include 'room/feed_component.html'%}
   </div>
   <div>
    {%include 'activity_component.html'%}
   </div>
 </div>
    
    
{%endblock content%}
